{% extends "base.html" %}


{% block page %}
    Lista de carros
{% endblock%}


{% block content-page%}
<div class="album">
  <div class="row" >
    {% block content %}
    {% if cars %}
      {% for car in cars %}
        <div class=" col-sm-3 mb-2 mt-2 item">
          <div class="card shadow-sm">
              {% if car.photo %}
                <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}" width="100%" height="50%">
              {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" 
                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" 
                    focusable="false">
                    <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Sem imagem</text></svg>
              {% endif %}

            <div class="card-body">
                <p class="card-text">{{ car.brand }} - {{ car.model }} - {{ car.factory_year }}</p>
                <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
              
            </div>
          </div>
        </div>  
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhum carro encontrado</p>

    {% endif %}


    {% endblock %}
  </div>
</div> 
{% endblock %}